[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.1.2"
flask-sqlalchemy = "*"
flask-restx = "*"
flask-jwt-extended = "*"
python-decouple = "*"
werkzeug = "==2.1.2"
sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.9"
